* {
  padding: 0;
  margin: 0;
}

.mainHeading {
  font-family: "Alegreya SC", serif;
  font-weight: 400;
  font-size: 50px;
  padding: 20px;
}

/* h1 {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
} */

.flowerImg {
  width: 458px;
  height: auto;
}

.paragraphText {
  font-family: "IM Fell Double Pica", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 20px;
}

.contactText {
    padding-bottom: 0;
}